.career-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: black;
    justify-content: center;
    padding-bottom: 100px;
}

.career-intro {
    margin-top: 30px;
    font-size: 35px;
    font-weight: bolder;
    color: #ffff;
    text-align: center;
}

